@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Cormorant+Garamond:wght@300&display=swap');

* {
    margin:0;
    padding:0;
    border:none;
}

body {
    font-family: Cormorant Garamond, sans-serif;
    font-weight:300;
}

/* navigation links */

header {
    width:100%;
    background-color:#121210;
    padding: 20px 0 30px;
}

#menu {
    font-size: 120%;
}

#menu li {
    float:right;
    list-style-type: none;
    margin-right:150px;
}

#menu a {
    text-decoration:none;
    color: #dfdfdf;
}

#menu a:hover {
    color:#c24643;  
}

#menu::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #c24643;
    transition: width .3s;
}

#menu:hover::after {
    width: 100%;
    transition: width .3s;
}



#menu .contact {
    color:#c24643
}

/* home section */

#home {
    height: 500px;
    width:100%;
    background-color:#121210;
    color:#dfdfdf;
}

#left-hero-text {
    width:35%;
    float:left;
    background-color:#121210;
    margin-top: 200px;
    margin-left:15px;
}

#left-hero-text h1 {
    font-size: 250%;
    text-transform: capitalize;
    font-weight:400;
}

#left-hero-text h2 {
    font-family: Arapey, sans-serif;
    letter-spacing:3px;
    font-weight:200;
    color:#babfaa;
}
#right-hero-image {
    width:63%;
    float:right;
    background-color:#121210;
}

#image-container {
    border: 3px solid #fff;
    width:65%;
    height:400px;
    overflow:hidden;
    margin-left:150px;
    margin-top:48px;
    margin-bottom:46px;
}

#image-container img {
    width:100%;
    height:100%;
    object-fit:cover;
}

/* about-us section */

#about-us {
    height: 500px;
    width:100%;
    background-color:#f0ead4;
    color:#121210;
    line-height: 25px;
}

hr {
    border-top: 1px solid #333639;
    width:30%;
    margin-bottom:7px;
}

#about-left-section {
    padding-top:30px;
    width:33%;
    float:left;
    background-color: #f1ebd3;
    text-align: left;
    margin-bottom: 25px;
    margin-left: 15px;
}

#about-left-section h2 {
    margin-bottom: 35px;
    font-family: Cormorant Garamond, sans-serif;
    font-weight:600;
    text-transform: capitalize;
}

.text p {
    margin-bottom:17px;
    font-family: Arapey, sans-serif;
    font-weight:150;
    letter-spacing: 1px;
}

#about-left-section a {
    text-decoration:none;
    color: #c24643;
}

#about-left-section a:hover {
    border-bottom: 1px solid #c24643;  
}

#about-right-section {
    padding-top:30px;
    width:33%;
    float:right;
    background-color: #f1ebd3;
}

#about-right-section h2 {
    writing-mode: vertical-rl;
    text-transform: capitalize;
    font-size: 250%;
    margin-left:15px;
    margin-bottom: 30px;
    font-weight:500;
}

#about-center-section {
    width:33%;
    margin:0 auto;
    background-color:#c24643;
}



