@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Cormorant+Garamond:wght@300&display=swap');

* {
    margin:0;
    padding:0;
    border:none;
}

body {
    height:100vh;
    font-family: Cormorant Garamond, sans-serif;
    font-weight:300;
    overflow:none;
    background-color: #121210;
    width:auto;
}

/* navigation links */

header {
    width:100%;
    background-color:#121210;
    padding: 20px 0 30px;
}

#menu {
    font-size: 140%;
}

#menu li {
    float:right;
    list-style-type: none;
    margin-right:150px;
    width:auto;
}

#menu a {
    text-decoration:none;
    color: #dfdfdf;
}

#menu a:hover {
    color:#c24643;  
}

#menu::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #c24643;
    transition: width .3s;
}

#menu:hover::after {
    width: 100%;
    transition: width .3s;
}



#menu .contact {
    color:#c24643
}

/* home section */

#home {
    height: 500px;
    width:100% auto;
    background-color:#121210;
    color:#dfdfdf;
}

#left-hero-text {
    width:35%;
    float:left;
    margin-top: 200px;
    margin-left:15px;
}

#left-hero-text h1 {
    font-size: 250%;
    text-transform: capitalize;
    font-weight:400;
}

#left-hero-text h2 {
    font-family: Arapey, sans-serif;
    letter-spacing:3px;
    font-weight:200;
    color:#babfaa;
}
#right-hero-image {
    width:63%;
    float:right;
}

#image-container {
    border: 3px solid #fff;
    width:65%;
    height:400px;
    overflow:hidden;
    margin-left:150px;
    margin-top:48px;
    margin-bottom:46px;
}

#image-container img {
    width:100%;
    height:100%;
    object-fit:cover;
}

/* about-us section */

#about-us {
    height: 500px;
    width:100%;
    background-color:#333639;
    color:#dfdfdf;
    line-height: 25px;
}

hr {
    border-top: 1px solid #333639;
    width:30%;
    margin-bottom:7px;
}

#about-left-section {
    padding-top:25px;
    width:33%;
    float:left;
    text-align: left;
    margin-bottom: 25px;
    margin-left: 15px;
}

#about-left-section h2 {
    margin-bottom: 25px;
    font-family: Cormorant Garamond, sans-serif;
    font-weight:300;
    text-transform: capitalize;
}

.text p {
    margin-bottom:17px;
    font-family: Arapey, sans-serif;
    font-weight:150;
    letter-spacing: 1px;
}

#about-left-section a {
    text-decoration:none;
    color: #c24643;
}

#about-left-section a:hover {
    border-bottom: 1px solid #c24643;  
}

#about-right-section {
    padding-top:30px;
    width:33%;
    float:right;
}

#about-right-section h2 {
    writing-mode: vertical-rl;
    text-transform: capitalize;
    font-size: 250%;
    margin-left:15px;
    margin-bottom: 30px;
    font-weight:500;
}

#about-center-section {
    width:33%;
    margin:0 auto;
    padding-top:130px;
}

#arch-container {
    width:400px;
    height:250px;
    border-style:solid;
    border-color:#c24643;
    border-width:4px;
    border-radius: 120px 0 0 120px;
    transform: rotate(90deg);
    background: url(images/vintage-photo-2.jpg)no-repeat center center;
}

#arch-cover-bg {
background: url(images/vintage-photo-2.jpg)no-repeat center center;
background-size: 250px;
object-fit: cover;
background-position-x: center;
transform: rotate(-90deg);
height:100%;
border-radius: 50%;
}

/* gallery section */

#gallery-slider {
    position:relative;
    width:80%;
    overflow:hidden;
    margin:0 auto;
}

.gallery-slider-images {
    display:flex;
    width:100%;   
}

.gallery-slider-images img {
    height:500px;
    width:100%;
    transition: all 0.15s ease;
}

.gallery-slider-images input {
    display:none;
}

.dots {
    display:flex;
    justify-content:center;
    margin:5px;
}

.dots label {
    height:12px;
    width:12px;
    border-radius:50%;
    border:solid thin #dfdfdf;
    cursor:pointer;
    transition: all 0.15s ease;
    margin:5px;
}

.dots label:hover {
    background: #c24643;
}

#img1:checked ~ .m1 {
    margin-left:0;
}

#img2:checked ~ .m2 {
    margin-left:-100%;
}

#img3:checked ~ .m3 {
    margin-left:-200%;
}

#img4:checked ~ .m4 {
    margin-left:-300%;
}

#img5:checked ~ .m5 {
    margin-left:-400%;
}

/* get in touch section */

footer {
    width:100%;
    background-color: #121210;
}

#get-in-touch {
        background-color:#333639;
        height:150px;
        width:100%;
        border-left:1px;
        border-right:20px;
        padding-top:20px;
        position:absolute;
}

#get-in-touch h2 {
    text-align: center;
    color: #c24643;
}

.get-in-touch-form {
    background-color:#333639;
    width:100%;
    position:absolute;
    color:#fff;
}

.text-input, .checkbox-input {
    line-height: 20px;
    padding: 10px 10px;
    text-align: center;
    text-indent: 3em;
}

.submit-button{
    padding:4px;
    border-radius:2px;
}
.submit-button:hover {
    background-color: #c24643;
    color: #fff;
}

/* Media queries */

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    footer {
        width:fixed;
    }

    home {
        width:fixed;
        font-weight:400;
    }

    #gallery-slider-images {
        width:fixed;
    }

}